html {
    box-sizing: border-box;
}
body{

    background-color: var(--mainColor);
    font-family: 'Roboto Flex', sans-serif;
}

::-webkit-scrollbar{
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--blackColor);
    border-radius: 5px;
}

.wrapper{
    width: 100%;
    padding-right: 150px;
    padding-left: 150px;
    margin-right: auto;
    margin-left: auto;
}

// 1200 PXIEL MEDIA SCREEN 
@media screen and (max-width: 1200px) {
    .wrapper{
        padding-right: 70px;
        padding-left: 70px;
    }

}

// 990 PXIEL MEDIA SCREEN 
@media screen and (max-width: 990px) {
    .wrapper{
        padding-right: 50px;
        padding-left: 50px;
    }

}
// 800 PXIEL MEDIA SCREEN 
@media screen and (max-width: 800px) {
    .wrapper{
        padding-right: 40px;
        padding-left: 40px;
    }

}

// 600 PXIEL MEDIA SCREEN 
@media screen and (max-width: 600px) {
    .wrapper{
        padding-right: 20px;
        padding-left: 20px;
    }

}

.is--block{
    background-color: var(--blackColor);
    border-radius: var(--mainRadius);
    overflow: hidden;
    position: relative;
    box-shadow: var(--boxShadow);
}

h1, h2, h3, h4{
    text-transform: uppercase;
}
h2{
    margin: 0;
    font-size: 25px;
    color: var(--white);
}

.genres{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.genres *{
    background-color:var(--mainColor);
    font-size: 13px;
    border-radius: 10px;
    padding: 2px 8px;
    margin-right: 5px;
}

// 1200 PXIEL MEDIA SCREEN 
@media screen and (max-width: 1200px) {
    .genres *{
        font-size: 9px;
    }

}

.titleOf{
    text-transform: uppercase;
    font-weight: 600;
    color: var(--white);;
    // text-align: center;
}

.popularBlock a{
text-decoration: none;
}
