header{
    height: 100%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: var(--mainGap);
}

.headerBlock{
    display: flex;
    gap: 40px;
}

.headerBloc--news{
    width: 100%;
}
.headerBlock--top{
    display: flex;
    flex-direction: column;
    padding: var(--paddingBlock);
}

.headerBlock--top h2::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 15px;
    background-color: var(--mainColor);
    margin-top: 6px;
    margin-left: 10px;
}

.headerBlock--top__element{
    display: flex;
    gap: var(--mainGap);
    height: 100%;
    width: 100%;
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
    padding-top: 15px;
}
.headerBlock--top__element:last-child{
    border-bottom: 0;
}
.headerBlock--top__elmentImg{
    width: 105px;
    height: 100%;
    position: relative;
    object-fit: cover;
    img{
        border-radius: var(--imgRadius);
        width: 100%;
        height: 100%;
        position: relative;
        object-fit: cover;
    }
}

.headerBlock--top__elmentTxt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    h4{
        margin: 0;
        font-size: 18px;
        color: #a4ced0;
    }

}
