nav {
    background-color: var(--blackColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-radius: 0 0 10px 10px;
    position: sticky;
    top: 0;
    transition: transform 0.4s;
    z-index: 9999;
    width:100%;
}
.navigation.scrolled-up {
    transform: translateY(-100%);
    transition: .5s all ease-in-out;
  }
  
  .navigation.scrolled-down {
    transform: translateY(0);
    transition: .5s all ease-in-out;
  }

.nav--logo img {
    height: 30px;
    width: 100%;
}

.nav--links {
    list-style: none;
    display: flex;
}

.nav--links li {
    margin-right: 10px;
}

.nav--links li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: .3s all ease-in-out;
}

.nav--links li a:hover {
    color: var(--mainColor);    

}

