nav {
    background-color: var(--blackColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-radius: 0 0 10px 10px;
    position: sticky;
    top: 0;
    transition: transform 0.4s;
    z-index: 9999;
    width:100%;
    box-shadow: var(--boxShadow);
    filter: drop-shadow(2px 4px 6px black);
}
.navigation.scrolled-up {
    transform: translateY(-100%);
    transition: .5s all ease-in-out;
  }
  
  .navigation.scrolled-down {
    transform: translateY(0);
    transition: .5s all ease-in-out;
  }

.nav--logo img {
    height: 30px;
    width: 100%;
}

.nav--links {
    list-style: none;
    display: flex;
    transition: .3s all ease-in-out;
}

.nav--links li {
    margin-right: 10px;
}

.nav--links li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: .3s all ease-in-out;
}

.nav--links li a:hover {
    color: var(--mainColor);    
    filter: drop-shadow(2px 4px 6px black);
}
.nav--links li a:active {
    color: var(--mainColor);   
    filter: drop-shadow(2px 4px 6px black); 

}
.dropMenu{
    display: none;
    height: 0;
    padding: 0;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    a {
        color: #fff;
        text-decoration: none;
        // padding: 5px;
        transition: .3s all ease-in-out;
        display: none;
    }
}
.menuOpen{
    height: 150px;
    padding: 0 20px 20px 20px;
    a{
        display: block;
        padding: 5px;
    }
}
.nav-toggle{
    color: white;
    display: none;
    transition: .2s all ease-in-out;
}
.nav-toggle:hover{
    color: var(--mainColor)!important;   
    filter: drop-shadow(2px 4px 6px black); 
}

@media (max-width: 768px){
    .nav-toggle{
        display: block;
    }
    .nav--links{
        display: none;
    }
    .nav--links .dropMenu{
        display: block!important;
    }
    .dropMenu{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 25px;
        top: 0px;
        margin-top: 54px;
        background-color: var(--blackColor);
        border-radius: 0 0 15px 15px;
        gap: var(--mainGap);
        // padding: 20px;
        font-size: 14px;
    
    }

}
