.popularBlock{
    display: flex;
    flex-direction: column;
    gap: var(--mainGap);
    padding: var(--paddingBlock);
    width: 100%;
    margin-bottom: var(--mainGap);

    h2{
        margin: 0;
        font-size: 25px;
        color: var(--white);
    }
}
.popularBlock h2:hover{
    filter: drop-shadow(2px 4px 6px black);
    cursor: pointer;
}
.popularBlock h2::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 15px;
    background-color: var(--mainColor);
    margin-top: 6px;
    margin-left: 10px;
}
.popularBlock--slider{
    display: flex;
    justify-content: center;
    gap: var(--mainGap);
    width: 100%;
    img{
        width: 100%;
        max-height: 435px;
        min-height: 435px;
        max-width: 280px;
        min-width: 280px;
        position: relative;
        object-fit: cover;
        border-radius: var(--mainRadius);
        box-shadow: var(--boxShadowCard);
        transition: .2s all ease-in-out;
    }
    p{
        margin-bottom: 0;
        margin-top: 7px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.popularBlock--slider__card .titleOf{
    max-width: 280px;
    overflow: hidden;
}
.popularBlock--slider__card img:hover{
    filter: drop-shadow(3px 5px 7px black);

}
.popularBlock--slider__card:hover p{
    color: var(--mainColor);


}
.popularBlock--slider__card:hover p {
    text-overflow: inherit;
    overflow: visible;
    width: max-content;
  }
  
  .popularBlock--slider__card:hover .marquee{
    animation: marquee 6s linear infinite;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0); /* Départ à la position d'origine */
    }
    100% {
      transform: translateX(-100%); /* Déplacement vers la gauche */
    }
  }

// 1700 PXIEL MEDIA SCREEN SWIPER IMG
@media screen and (max-width: 1700px) {
    .popularBlock--slider img{
        max-height: 375px;
        min-height: 375px;
        max-width: 280px;
        min-width: 240px;
    }
    .popularBlock--slider .titleOf {
        max-width: 280px;
        min-width: 240px;
    }

}
// 1500 PXIEL MEDIA SCREEN SWIPER IMG
@media screen and (max-width: 1500px) {
    .popularBlock--slider img{
        max-height: 340px;
        min-height: 340px;
        max-width: 220px;
        min-width: 220px;
    }
    .popularBlock--slider .titleOf {
        max-width: 220px;
        min-width: 220px;
    }

}

// 1440 PXIEL MEDIA SCREEN SWIPER IMG
@media screen and (max-width: 1440px) {
    .popularBlock--slider img{
        max-height: 290px;
        min-height: 290px;
        max-width: 195px;
        min-width: 195px;
    }
    .popularBlock--slider .titleOf {
        max-width: 195px;
        min-width: 195px;
    }

}

// 570 PXIEL MEDIA SCREEN SWIPER IMG
@media screen and (max-width: 570px){
    .popularBlock--slider img {
        max-height: 250px;
        min-height: 250px;
        min-width: 160px;
        max-width: 160px;
    }
    .popularBlock--slider .titleOf {
        min-width: 160px;
        max-width: 160px;
    }

}