.searchBlock{
    height: 650px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    // background;
}

.searchBlock--txt{
    width: 100%;
    background-color: antiquewhite;
    text-align: center;
}