.searchBlock{
    height:440px;
    width: 100%;
    margin: var(--mainGap) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
// 1050 MEDIA SCREEN INPUT 
@media screen and (max-width: 1050px) {
    .searchBlock{
        height: 480px;
    }
}
// 650 MEDIA SCREEN INPUT 
@media screen and (max-width: 650px) {
    .searchBlock{
        height: 430px;
    }
}
// 470 MEDIA SCREEN INPUT 
@media screen and (max-width: 470px) {
    .searchBlock{
        height: 360px;
    }
}

.searchBlock--img{
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    img{
        width: 100%;
        height: 100%;
        position: relative;
        object-fit:cover;
        object-position: top;
        transition: all ease-in-out;
    }
}

.resultSearchMangaBlock{
    display: none;
}

.searchBlock--txt{
    width: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var( --mainGap);
}

.searchBlock--txt__icons {
    display: flex;
    gap: var( --mainGap);
    transition: .4s all ease-in-out;

}

.searchBlock--txt__icons a{
    background-color: transparent;
}
.searchBlock--txt__icons a i{
    transition: .4s all ease-in-out;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    color: var(--white);
}
.searchBlock--txt__icons a i:hover{
    color: var(--mainColor) !important;
    transform: translateY(-5px);
    box-shadow:0px 10px 10px 2px rgba(255,255,255,0.6);
} 

.searchInput{
    width: 600px;
    border-radius: var(--mainRadius);
    background-color: var(--blackColor);
    color: #fff;
    outline: none;
    height: 40px;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    border:none;
    box-shadow: var(--boxShadow);
}
// 850 MEDIA SCREEN INPUT 
@media screen and (max-width: 850px) {
    .searchInput{
        width: 480px;
    }
}
// 660 MEDIA SCREEN INPUT 
@media screen and (max-width: 660px) {
    .searchInput{
        width: 400px;
    }
}
// 530 MEDIA SCREEN INPUT 
@media screen and (max-width: 530px) {
    .searchInput{
        width: 350px;
    }
}
// 470 MEDIA SCREEN INPUT 
@media screen and (max-width: 470px) {
    .searchInput{
        width: 280px;
        height: 30px;
    }
    .searchBlock{
        height: 360px;
    }
}


.searchBlock--txt__filtres select{
    border-radius: var(--mainRadius);
    border: 1px solid var(--mainColor);
    outline: var(--mainColor);
    background-color: var(--blackColor);
}
.searchBlock--txt__filtres{
    display: flex;
    gap: var(--mainGap);
}

#search-wrapper{
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.276);
    align-items: stretch;
    border-radius: 50px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    max-width: 650px;
    box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.273);
    img{
        position: absolute;
        right: .6em;
        top: .5em
    }
}

#searchInput:focus{
    outline: none;
}
.search-icon{
    margin: 10px;
    color:rgba(0, 0, 0, 0.564);
    
}

.activeSearchBtn{
    i{
        color: var(--mainColor) !important;
        transform: translateY(-5px);
        box-shadow:0px 10px 10px 2px rgba(255,255,255,0.6);
    }
}

