:root{
    --mainRadius: 10px;
    --paddingBlock: 30px;
    --mainGap: 20px;
    --imgRadius: 5px;
    --mainColor: #02a9ff;
    --titleColor: #d7f6fe;
    --white: #fff;
    --blackColor: #2b2d42;
    --boxShadow:0 0 10px 5px;
    --boxShadowCard:rgba(17, 17, 26, 0.1) 0px 8px 24px;
    --sousTitres: rgb(148, 148, 148);

}