:root{
    --mainRadius: 10px;
    --paddingBlock: 30px;
    --mainGap: 20px;
    --imgRadius: 5px;
    --mainColor: #02a9ff;
    --titleColor: #d7f6fe;
    --white: #fff;
    --blackColor: #2b2d42;
    --boxShadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                    0 12.5px 10px rgba(0, 0, 0, 0.06),
                    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                    0 100px 80px rgba(0, 0, 0, 0.12);
    --boxShadowCard:rgba(17, 17, 26, 0.1) 0px 8px 24px;
    --sousTitres: rgb(148, 148, 148);

}